<h1 class="application-title">{{ Recipe.recipe.name }}</h1>
<div class="container recipe-list">
    <div class="col-xs-12">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <img ng-src="{{ Recipe.recipe.image }}" alt="">
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="informations">
          <h6>{{ Recipe.recipe.description }}</h6>
          <p>{{ 'Difficulty Level : ' +  Recipe.recipe.difficulty_level }}</p>
          <p>{{ 'Servings : ' +  Recipe.recipe.servings }}</p>
          <p>{{ 'Servings : ' +  Recipe.recipe.servings }}</p>
        </div>
      </div>

      <div class="col-xs-12">
        <pre>
          {{ Recipe | json }}
        </pre>
      </div>



    </div>



</div>
